<ul class="homeColumn-List">
    <li class="homeColumn-Item">
        <a class="homeColumn-Link ita touch" href="{{ "/column/column2.html" | relative_url }}">
            <div class="homeColumn-Photo"><img class="homeColumn-Img" alt="コラムイメージ" src="{{ "/column/img/home_column02.jpg" | relative_url }}"></div>
            <div class="homeColumn-Text">
                {% if page.page_class == "home" %}<div class="homeColumn-SubTitle">日本OSS貢献者賞受賞者の宮原氏</div>{% endif %}
                <div class="homeColumn-Title">DX実現のための自動化の役割</div>
                <div class="homeColumn-Date"><i class="fa-regular fa-clock"></i> 2022/12/23</div>
            </div>
        </a>
    </li>
    <li class="homeColumn-Item">
        <a class="homeColumn-Link ita touch" href="{{ "/column/column1.html" | relative_url }}">
            <div class="homeColumn-Photo"><img class="homeColumn-Img" alt="コラムイメージ" src="{{ "/column/img/home_column01.jpg" | relative_url }}"></div>
            <div class="homeColumn-Text">
                {% if page.page_class == "home" %}<div class="homeColumn-SubTitle">日本OSS貢献者賞受賞者の宮原氏</div>{% endif %}
                <div class="homeColumn-Title">DXを実現するためのポイント</div>
                <div class="homeColumn-Date"><i class="fa-regular fa-clock"></i> 2022/12/23</div>
            </div>
        </a>
    </li>
</ul>