<!--
##################################################
   Footer
##################################################
-->
<footer id="footer">
    <div class="footer-Container">
        <div class="footer-Exastro">
            <div class="footer-Exastro-logo">
                <a class="footer-ImgLink touch" href="/"><img src="/assets/img/exastro.svg" alt="Exastro"></a>
            </div>
            <div class="footer-Exastro-Desription">
                Exastro is an open source software suite for digitizing, automating and labor saving the system life cycle.
            </div>
            <div class="footer-MainMenu">
                <ul class="footer-MainMenu-List">
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/">
                            <i class="fas fa-home"></i>Home
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/message/index.html">
                            <i class="fas fa-clipboard-check"></i>Message
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/column/index.html">
                            <i class="fa-solid fa-comment-dots"></i>Column
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/index.html#overvire">
                            <i class="fa fa-book"></i>Overview
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/index.html#faq">
                            <i class="fas fa-question-circle"></i>FAQ
                        </a>
                    </li>
                    <!--<li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/index.html#handout">
                            <i class="fas fa-toolbox"></i>Hand out
                        </a>
                    </li>-->
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/event.html">
                            <i class="fas fa-toolbox"></i>Event
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/newsroom.html">
                            <i class="fas fa-toolbox"></i>News Room
                        </a>
                    </li>
                    <li class="footer-MainMenu-Item">
                        <a class="footer-MainMenu-Link touch" href="/asset.html">
                            <i class="fas fa-toolbox"></i>Asset
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-SubMenu">
                <ul class="footer-SubMenu-List">
                    <li class="footer-SubMenu-Item">
                        <a href="https://twitter.com/ExastroSuite" class="footer-SubMenu-Link touch" target="_blank" rel="noopener">
                            <i class="fab fa-twitter-square"></i>Twitter
                        </a>
                    </li>
                    <li class="footer-SubMenu-Item">
                        <a href="https://www.youtube.com/channel/UC-kwQiXQfmYXTPbrGR-8qxw" class="footer-SubMenu-Link touch" target="_blank" rel="noopener">
                            <i class="fab fa-youtube-square"></i>YouTube
                        </a>
                    </li>
                    <li class="footer-SubMenu-Item">
                        <a href="https://github.com/exastro-suite" class="footer-SubMenu-Link touch" target="_blank" rel="noopener">
                            <i class="fab fa-github-square"></i>GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-Suite">
            <ul class="footer-Suite-List">
                <li class="footer-Suite-Item">
                    <div class="footer-Suite-Name">
                        <a class="footer-ImgLink touch" href="https://exastro-suite.github.io/it-automation-docs/index_ja.html">
                            <img class="footer-Suite-Img" src="/assets/img/lt_ita.svg" alt="Exastro IT Automation">
                        </a>
                    </div>
                    <ul class="footer-SuiteMenu-List">
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/index_ja.html">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/overview_ja.html">
                                <i class="fas fa-server"></i>Overview
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/install_ja.html">
                                <i class="fas fa-download"></i>Install
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/learn_ja.html">
                                <i class="fas fa-school"></i>Learn
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/webinar_ja.html">
                                <i class="fas fa-video"></i>Webinar
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/case_ja.html">
                                <i class="fas fa-book"></i>Case
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/documents_ja.html">
                                <i class="fas fa-file-alt"></i>Documents
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/setting-samples_ja.html">
                                <i class="fas fa-cog"></i>Setting samples
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/it-automation-docs/faq_ja.html">
                                <i class="fas fa-question-circle"></i>FAQ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-Suite-Item">
                    <div class="footer-Suite-Name">
                        <a class="footer-ImgLink touch" href="https://github.com/exastro-suite/playbook-collection-docs/blob/master/README.ja.md">
                            <img class="footer-Suite-Img" src="/assets/img/lt_pbc.svg" alt="Exastro OASE">
                        </a>
                    </div>
                    <ul class="footer-SuiteMenu-List">
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://github.com/exastro-suite/playbook-collection-docs/blob/master/README.ja.md">
                                <i class="fa-brands fa-github"></i>Readme
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://github.com/exastro-suite/playbook-collection-docs/blob/master/ansible_role_templates/README.md">
                                <i class="fa-solid fa-code-branch"></i>Ansible Role Templates
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://github.com/exastro-suite/playbook-collection-docs/blob/master/ansible_role_packages/README.md">
                                <i class="fa-solid fa-code-branch"></i>Ansible Role Packages
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://github.com/exastro-suite/playbook-collection-docs/blob/master/ansible_roles/README.md">
                                <i class="fa-solid fa-code-branch"></i>Ansible Roles
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-Suite-Item">
                    <div class="footer-Suite-Name">
                        <a class="footer-ImgLink touch" href="https://exastro-suite.github.io/oase-docs/index_ja.html">
                            <img class="footer-Suite-Img" src="/assets/img/lt_oase.svg" alt="Exastro OASE">
                        </a>
                    </div>
                    <ul class="footer-SuiteMenu-List">
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/index_ja.html">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/overview_ja.html">
                                <i class="fas fa-server"></i>Overview
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/learn_ja.html">
                                <i class="fas fa-school"></i>Learn
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/webinar_ja.html">
                                <i class="fas fa-video"></i>Webinar
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/case_ja.html">
                                <i class="fas fa-book"></i>Case
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/documents_ja.html">
                                <i class="fas fa-file-alt"></i>Documents
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/downloads_ja.html">
                                <i class="fas fa-download"></i>Downloads
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/oase-docs/faq_ja.html">
                                <i class="fas fa-question-circle"></i>FAQ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer-Suite-Item">
                    <div class="footer-Suite-Name">
                        <a class="footer-ImgLink touch" href="https://exastro-suite.github.io/epoch-docs/index_ja.html">
                            <img class="footer-Suite-Img" src="/assets/img/lt_epoch.svg" alt="Exastro EPOCH">
                        </a>
                    </div>
                    <ul class="footer-SuiteMenu-List">
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/index_ja.html">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/overview_ja.html">
                                <i class="fas fa-server"></i>Overview
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/learn_ja.html">
                                <i class="fas fa-school"></i>Learn
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/webinar_ja.html">
                                <i class="fas fa-video"></i>Webinar
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/reference_ja.html">
                                <i class="fas fa-file-alt"></i>Reference
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/downloads_ja.html">
                                <i class="fas fa-download"></i>Downloads
                            </a>
                        </li>
                        <li class="footer-SuiteMenu-Item">
                            <a class="footer-SuiteMenu-Link touch" href="https://exastro-suite.github.io/epoch-docs/faq_ja.html">
                                <i class="fas fa-question-circle"></i>FAQ
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <small>Copyright © NEC Corporation 2019-2022</small>
        </div>
    </div>
</footer>