    <link rel="stylesheet" href="{{ "/assets/css/exastro.css" | relative_url }}">
    
    <meta name="keywords" content="Exastro, Exastro Suite, OSS, IT Automation, OASE, EPOCH">
    <meta name="description" content="{{ page.description }}">
    <meta name="thumbnail" content="https://www.exastro.org/assets/img/ogp_twitter_image.jpg">
    <meta property="og:description" content="{{ page.description }}">
    <link rel="image_src" href="https://www.exastro.org/assets/img/ogp_image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.exastro.org/">
    <meta property="og:title" content="Exastro Suite">
    <meta property="og:image" content="https://www.exastro.org/assets/img/ogp_image.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Exastro Suite">
    <meta name="twitter:image" content="https://www.exastro.org/assets/img/ogp_twitter_image.jpg">