---
layout: common
---
<!--
##################################################
   Message
##################################################
-->
<header id="header">
    <div class="header-Container">
        <div class="columnHeader">
            <div class="columnHeader-Text">
                <h1 class="columnHeader-Title">{{ page.column_title }}</h1>
            </div>        
        </div>
    </div>
</header>

<main id="main">
    <article class="article" id="article">
        <div class="article-Container">
            <div class="article-Body">

                <nav class="topicPath">
                    <ol class="topicPath-List">
                        <li class="topicPath-Item"><a class="topicPath-Link" href="/index_ja.html">HOME</a></li>
                        <li class="topicPath-Item"><a class="topicPath-Link" href="/column/index_ja.html">コラム一覧</a></li>
                        <li class="topicPath-Item">{{ page.column_title }}</li>
                    </ol>
                </nav>

                <section  class="section">

{{ content }}

                </section>
                <section class="section">
                    <div class="columnAuthor">
                        <div class="columnAuthor-Photo"><img src="{{ page.author_photo }}" alt="{{ page.author_name }}"></div>
                        <div class="columnAuthor-Position">{{ page.author_position }}</div>
                        <div class="columnAuthor-Name">{{ page.author_name }}</div>
                        <div class="columnAuthor-Profile">{{ page.author_profile }}</div>
                    </div>
                </section>
                <section  class="section">
                    <div class="section-FooterMenu">
                        <ul class="section-FooterMenu-List">
                            <li class="section-FooterMenu-Item">
                                <a class="section-FooterMenu-Link touch" href="/index_ja.html"><span><i class="fa-solid fa-circle-arrow-left"></i> Homeに戻る</span></a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="article-Footer">
                <section  class="section">
                    <div class="columnMenu">
                        <h2 class="section-SubTitle">コラム一覧</h2>
{% include column_list_ja.html %}
                    </div>
                </section>
            </div>
        </div>
    </article>
</main>